html {
	height:100%;
}

body {font-family: helvetica; height:100%; font-size:14px; margin: 0; padding: 0;}
.login-button a {position: absolute; bottom:10px; left:10px; color:white;font-size: 1.5em;}

.display-table {
    display: table;
    width: 100%;
    text-align: left;
    height: 100%;
    background-color: #00B0B9;
}

.numbers td {
	margin: 0 auto;
	color: white;
	font-size: 5em;
}

.display-table-cell {
	display: table-cell;
	vertical-align: middle;
}
td {
    padding-top: 45px;
}
td.leftcol {
    padding-right: 60px;
    text-align: left;
}
td.rightcol {
		text-align: left;
}
table {width:54em; margin: 0 auto;}
